.form-control {
  padding: 30px;
  margin: 20px;
  text-align: center;
  width: 50%;
}
body {
  background-color: #a1dfff;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}
.nav-tabs {
color: white;
}